.wrap {
    position: fixed;
    top: 0;
    left: 0;
    // overflow-y: scroll;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 86px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 102;
    opacity: 0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 7px;
        border-radius: 0%;
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: RGB(232, 54, 35);
        // outline: 1px solid slategrey;
    }

    animation: animFlow .5s forwards;

    .wrap-city {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(130px, 200px));
        justify-items: center;
        align-items: stretch;
        justify-content: center;
        column-gap: 15px;
        row-gap: 15px;

        .letter {
            color: #de0000;
            padding-bottom: 8px;
            margin-bottom: 8px;
            border-bottom: 1px dotted #de0000;
        }

        .cities {
            display: flex;
            flex-direction: column;
            width: 150px;

            div {
                cursor: pointer;
                width: 100%;
                color: white;
                font-weight: 300;
                font-size: 15px;
                transition: .5s;
                padding-bottom: 5px;

                &:hover {
                    color: #de0000;
                }
            }
        }

    }

    .logo {
        cursor: pointer;
        margin-bottom: 50px;

        img {
            width: 152px;
        }
    }

    .close {
        top: 50px;
        right: 50px;
        position: fixed;
        width: 30px;
        min-height: 20px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 101;

        span {
            width: 100%;
            height: 0.15em;
            background-color: white;
            display: block;
            transition: width .5s,
                background .4s,
                transform .3s;

            &:nth-child(1) {
                width: 70%;
                transform-origin: 30% 200%;
            }

            &:nth-child(2) {
                margin: auto;
            }
        }

        div {
            display: flex;
            justify-content: flex-end;

            span {
                width: 51%;
                transform-origin: 65% -80%;
            }
        }

        span:nth-child(1),
        span:nth-child(2) {
            width: 50%;
            transform: rotate(45deg);
        }

        span:nth-child(2) {
            width: 100%;
            transform: rotate(-45deg);
        }

        &:hover {
            span {
                background: #ff131d;

            }
        }
    }
}

@keyframes animFlow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}