<div class="item">
    <div class="img" (click)="moveToProductPage(item.id)">
        <img [src]="item?.img">
    </div>

    <h3 (click)="moveToProductPage(item.id)">{{ item.name }}</h3>

    <div class="old-price" *ngIf="item.oldPrice">
        {{ item.oldPrice | number:'1.2' }} <span>грн.</span>
    </div>

    <div class="price" (click)="moveToProductPage(item.id)">
        {{ item.price | number:'1.2' }} <span>грн.</span>
    </div>

    <div class="weight">
        {{ item.weight }} <span>г</span>
    </div>

    <div class="composition" (click)="moveToProductPage(item.id)">
        Склад: <span> {{ item.composition }} </span>
    </div>

    <button 
        class="btn btn-outline-danger"
        (click)="addProductToCart()"
    >
        Обираю!
    </button>
</div>