/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './reset';

body {
    position: relative !important;
    transform: unset !important;
    overflow: auto !important;
}

body::-webkit-scrollbar {
    width: 7px;
    border-radius: 0%;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: RGB(232, 54, 35);
    // outline: 1px solid slategrey;
}

@media (min-width: 980px) {
    h1,
    h2,
    h3,
    h4 {
        font-size: 49px !important;
    }
}